@font-face {
  font-family: mojfont;
  src: url('./fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: boldovani;
  src: url('./fonts/Roboto-Bold.ttf');
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family:mojfont;
}

html{
  overflow: scroll;
  overflow-x: hidden;
  font-size:18px;
  scroll-behavior: smooth;
  }::-webkit-scrollbar {
  width: 0px;
}
.slika{
  
  backdrop-filter:blur(5px);
    
  margin-top:30px;
    height:70%;
}
main{
    height:100vh;

}

article{
    height:800px;
    background-image: url("./images/pexels-pixabay-220201.jpg");
    background-size:cover;
    background-attachment: fixed;
}

#slika{
  box-shadow:0 0 20px black;
  height:100%;
width:100%;  
}
.lik{
  width:140px;
  height:140px;
  position:fixed;
  right:10px;
  bottom:-60px;

}
.greska{
 font-size: 21px;
  color:rgb(255, 0, 0);
  width:100%;
  box-shadow: 0 0 10px black;
}

/*ANIMACIJA POZADINE*/

main{
  position: relative;
  top:0;
  left:0;
  height:100vh;
  width:100%;
  background-image: url("./images/bg2.jpg");
  background-size: cover;
  background-position: center;
  animation:animiranaPozadina ease-in-out 40s infinite ;
}

@keyframes animiranaPozadina{
  0%,100%{
      transform:scale(1);
  }
  50%{
      transform:scale(1.2);
  }
}

main span{
  position:absolute;
  top:50%;
  left:50%;
  width:4px;
  height:4px;
  background-color: #fff;
  border-radius:50%;
  box-shadow:0 0 0 4px rgba(255,255,255,0.1),
  0 0 0 8px rgba(255,255,255,0.1),
  0 0 20px rgba(255,255,255,1);
  animation:zvezde 3s linear infinite;
}
main span::before{
  content:'';
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  width:300px;
  height:1px;
  background:linear-gradient(90deg,#fff,transparent);
}
@keyframes zvezde{
  0%{
      transform:rotate(315deg) translateX(0);
      opacity:1;
  }
  70%{
      opacity:1;
  }
  100%{
      transform:rotate(315deg) translateX(-1000px);
      opacity:0;
  }

}
main span:nth-child(1){
  top:0;
  right:0;
  left:initial;
  animation-delay: 0s;
  animation-duration: 1s;
}
main span:nth-child(2){
  top:0;
  right:80px;
  left:initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}
main span:nth-child(3){
  top:80px;
  right:0;
  left:initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}
main span:nth-child(4){
  top:0px;
  right:180px;
  left:initial;
  animation-delay: 0.6s;
  animation-duration:1.5s;
}
main span:nth-child(5){
  top:0px;
  right:400px;
  left:initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}
main span:nth-child(6){
  top:0px;
  right:600px;
  left:initial;
  animation-delay: 1s;
  animation-duration: 3s;
}
main span:nth-child(7){
  top:300px;
  right:0;
  left:initial;
  animation-delay: 1.2s;
  animation-duration: 3s;
}
main span:nth-child(8){
  top:0px;
  right:700px;
  left:initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}
main span:nth-child(9){
  top:0px;
  right:1000px;
  left:initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}
main span:nth-child(10){
  top:0px;
  right:450px;
  left:initial;
  animation-delay: 2.75s;
  animation-duration: 2.25s;
}
.naslov{
    margin-top:-150px;
    font-size:60px;

}
.naslov h2{
  font-family:boldovani;
  font-size:60px;
}
.naslov p{
  margin-bottom: 40px;
  font-size:20px;
}

/*DUGME*/


.container2 {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
  
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn p {
  color: white;
  font-size: 22px;
  margin-bottom:0;
}
/*Kalendar*/



@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --calendar-bg-color: #262829;
    --calendar-font-color: #FFF;
    --weekdays-border-bottom-color: #404040;
    --calendar-date-hover-color: #505050;
    --calendar-current-date-color: #1b1f21;
    --calendar-today-color: linear-gradient(to bottom, #03a9f4, #2196f3);
    --calendar-today-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
    --next-prev-arrow-color : #FFF;
    --calendar-border-radius: 16px;
    --calendar-prevnext-date-color: #484848
}


.calendar {
    box-shadow:0 0 20px black;
    font-family: mojfont;
    position: relative;
    max-width: 400px; /*change as per your design need */
    min-width: 200px;
    background: var(--calendar-bg-color);
    color: var(--calendar-font-color);
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: normal;
    border-radius: var(--calendar-border-radius);
}

.calendar-inner {
    padding: 10px 10px;
}

.calendar .calendar-inner .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar .calendar-inner .calendar-body div {
    padding: 4px;
    min-height: 15px;
    line-height: 15px;
    border: 1px solid transparent;
    margin: 10px 2px 0px;

}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7) {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7):hover {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div>p {
    color: var(--calendar-font-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.calendar .calendar-inner .calendar-body div:hover {
    border: 1px solid var(--calendar-date-hover-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
    display:flex;
}

.calendar .calendar-inner .calendar-today-date {
    display: grid;
    text-align: center;
    cursor: pointer;
    margin: 3px 0px;
    background: var(--calendar-current-date-color);
    padding: 8px 0px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
    display: flex;
    width:100%;
    justify-content:space-between;
    align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
    text-align: right;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label {
    font-weight: 500;
    font-size: 20px;
}

.calendar .calendar-inner .calendar-body .calendar-today {
    background: var(--calendar-today-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-today p {
    outline: 2px solid var(--calendar-today-innerborder-color);
}

.calendar .calendar-inner .calendar-controls .calendar-next p,
.calendar .calendar-inner .calendar-controls .calendar-prev p {
    color: var(--calendar-font-color);
    font-family: mojfont;
    font-size: 26px;
    text-decoration: none;
    padding: 2px 12px;
    display: inline-block;
    background: var(--calendar-nextprev-bg-color);
    margin: 10px 0 10px 0;
}

.calendar .calendar-inner .calendar-controls .year-prev p,
.calendar .calendar-inner .calendar-controls .year-next p {
    color: var(--calendar-font-color);
    font-family: mojfont;
    font-size: 26px;
    text-decoration: none;
    padding: 4px 12px;
    display: inline-block;
    background: var(--calendar-nextprev-bg-color);
    margin-left:0;
    margin-top:20px;
}
p:hover{
  cursor: pointer;
}




.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates {
    color: var(--calendar-prevnext-date-color);
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
  border: 1px solid transparent;
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  article{
    height:1000px;
  }
  .slika{
    height:30%;
  }
}